*{
    margin: 0;
    padding: 0;
}
 /* :root{
     --backcolor: rgba(255, 0, 0, 0.692); 
     --sec-color: white; 
 }
  */
body{
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color: grey;
}
header{
    position: sticky;
    top: 0;

}
.navbar {
  background-color: #ff0000;
  padding: 15px 20px;
  
}

.navbar ul {
    list-style: none;
    margin: 0;
    padding: 10px 0;
}
.navbar li {
    display: inline;
    margin-right: 20px;
}
.navbar a{
    padding: 10px 20px;
    text-decoration: none;
    color: rgb(255, 255, 255);
    /* font-size: 15px; */
    /* font-weight: bold; */
}
main{
    margin: 20px;
     /* background-color: grey; */
}
.div1{
    display: flex;
    background-color: rgb(67, 215, 166);
    border: 2px solid black ;
    /* justify-content: center; */
}
.div2{
    height: 450px;
    width: 450px;
    display: flex;
    border: 2px solid black;
    background-color: yellow;
    margin: 50px 100px;
    /* padding: 5px; */
}
/* .div3{
    border-radius: 10px;
    color: rgb(255, 255, 255);
    width: 20em;
    height: 20em;
    background-color: green;
} */
/* .div3{
    padding: 10px;
    justify-content: center;
    text-align: center;
} */
.div4{
    background-color: rgb(157, 77, 157);
}

.text{
    border: 2px solid black;
    margin: 50px;
    border-radius: 20px;
    height: 200px;
    background-color: #00bbff;
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 45px;
}
/* .text{
    border-radius: 10px;
    height: 300px;
    width: 600px;
    background-color: blue;
    color: rgb(255, 255, 255);
    justify-self: center;
} */
/* .text p{
    padding: 10px;
    justify-content: center;
    text-align: center;
} */
footer{
    /* margin-top: 6px ; */
    padding: 15px 50px;
    background-color: rgb(255, 138, 4);
    color: rgb(0, 0, 0);
}
.foot{
    display: flex;
    justify-content: flex-end;
}
.img{
    display: flex;
    justify-content: flex-end;
    overflow: auto;
}
.img img{
    margin: 10px;
    bottom: 0;
    position: fixed;

    height: 60px;
    width: 60px;
    object-fit: cover;
    border-radius: 50%;
}